<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>313099530686-jjdhvu76t9t1v39ba1c0i8p1p9370bh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313099530686-jjdhvu76t9t1v39ba1c0i8p1p9370bh9</string>
	<key>API_KEY</key>
	<string>AIzaSyDMgqkQ48Q-oUthehjbGXx2iVXkVbQPEoY</string>
	<key>GCM_SENDER_ID</key>
	<string>313099530686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isha.ImagesVideosLocation</string>
	<key>PROJECT_ID</key>
	<string>imagesvideosloca-1538890124777</string>
	<key>STORAGE_BUCKET</key>
	<string>imagesvideosloca-1538890124777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313099530686:ios:76d12dd56046cbb9</string>
	<key>DATABASE_URL</key>
	<string>https://imagesvideosloca-1538890124777.firebaseio.com</string>
</dict>
</plist>